sipXregistry/meta/huntgroup.xsd.in

<?xml version='1.0' encoding='iso-8859-1' standalone='yes'?>
<!--
  - XML Schema for sipX huntgroup definitions
  -->
<schema
    xmlns:h='http://www.sipfoundry.org/sipX/schema/xml/huntgroup-00-00'
    xmlns:sip='http://www.sipfoundry.org/sipX/schema/xml/sip-00-01'
    targetNamespace='http://www.sipfoundry.org/sipX/schema/xml/huntgroup-00-00'
    xmlns='http://www.w3.org/2001/XMLSchema'
    >

  <import 
      namespace="http://www.sipfoundry.org/sipX/schema/xml/sip-00-01" 
      schemaLocation="@SIPX_SCHEMADIR@/sip_types.xsd"
      />

  <annotation>
    <documentation>
      Definitions of huntgroups for the sipX Redirect Server
    </documentation>
    <documentation source='http://scm.sipfoundry.org/rep/sipXregistry/main/doc/Redirection.txt'/>
  </annotation>

  <!-- Elements -->

  <element name='items'>
    <complexType>
      <sequence>
        <element ref='h:item' minOccurs='0' maxOccurs='unbounded' />
      </sequence>
      <attribute name='type'>
        <simpleType>
          <restriction base='normalizedString'>
            <enumeration value='huntgroup'/>
          </restriction>
        </simpleType>
      </attribute>
    </complexType>
  </element>

  <element name='item'>
    <complexType>
      <sequence>
        <element ref='h:identity' />
      </sequence>
    </complexType>
  </element>

  <element name='identity' type='sip:user_at_domain'>
    <annotation>
      <documentation>
        The hunt group address.
      </documentation>
    </annotation>
  </element>
  
</schema>
