sipXbridge/schema/sipxbridge.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation xml:lang="en">

			SIPXBridge takes a configuration file which specifies where
			it is running ( ip address and port ) and all the accounts
			that it manages. When it starts, it registers with each
			of the ITSP accounts specified in the nested itsp-account
			elelements that need such registration. 

		</xs:documentation>
	</xs:annotation>

	<xs:element name="sipxbridge-config" type="SipxBridgeConfig" />

	<xs:complexType name="SipxBridgeConfig">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The confiuration of the IP addresses and ports of the
				SIPX Bridge.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="bridge-configuration"
				type="BridgeConfiguration" minOccurs="1" maxOccurs="1" />
			<xs:element name="itsp-account" type="ItspAccountInfo"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	

	<xs:complexType name="BridgeConfiguration">
		<xs:sequence>
			<xs:element name="global-address" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The publicly routable address of the bridge ( only relevant if global addressing
						is needed by any of the associated ITSPs).If something is specified, then the stun 
						parameters are ignored. If neither STUN nor global address is specified and global
						addressing is needed by an ITSP then it is a configuration error.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="global-port" type="xs:integer"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The global ITSP facing port (if required by ITSP). 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="external-address" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The ITSP facing address. The ITSP will send
						signaling here. If sipxbridge is running behind a NAT this is the
						a private address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>


			<xs:element name="external-port" type="xs:integer"
				minOccurs="0" maxOccurs="1" default="5080">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The ITSP facing port. The ITSP will send
						signaling here. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="local-address" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The SIPX proxy facing address. The SIPX proxy
						will send signaling here.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="local-port" type="xs:integer"
				minOccurs="0" maxOccurs="1" default="5090">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The SIPX proxy facing port. The SIPX proxy will
						send signaling here.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipx-proxy-domain" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The SIPX proxy domain. This is normally set by sipxconfig.
						If you are starting sipxbridge manually, you need to fill in this field.
					</xs:documentation>
				</xs:annotation>
			</xs:element>


			
			
			<xs:element name="sip-keepalive-seconds" type="xs:integer"
				minOccurs="0" maxOccurs="1" default="20">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Keepalive timer for SIP Signaling. Sipxbridge will re-register with each
						ITSP to keep the NAT pinhone open
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="media-keepalive-seconds" type="xs:integer"
				minOccurs="0" maxOccurs="1" default="2">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Keepalive timer for RTP. Each RTP stream facing the ITSP will
						start a timer that runs with this timeout (in seconds).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			

			<xs:element name="max-number-of-concurrent-calls" type="xs:integer"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The maximum number of concurrent calls allowed via sipxbridge
						bridge overall. If undefined no limit is imposed.
						When the limit is reached, sipxbridge will return 
						"Service Unavailable".
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="music-on-hold-support-enabled" type="xs:boolean"
				maxOccurs="1" minOccurs="0" default="false">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not sipxbridge Music On Hold support is enabled.
						Phones should disable their MOH support if sipxbridge support
						for MOH is enabled.
					</xs:documentation>
				</xs:annotation>
			</xs:element>



			
			<xs:element name="log-level" maxOccurs="1" minOccurs="0"
				default="INFO">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Log configuration. Defaults to INFO level.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OFF" />
						<xs:enumeration value="INFO" />
						<xs:enumeration value="WARN" />
						<xs:enumeration value="ERROR" />
						<xs:enumeration value="DEBUG" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="is-reinvite-supported" type="xs:boolean" maxOccurs="1" minOccurs="0"
				default="true">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not re-invite is supported. If supported, then
					        Dynamic media renegotiation is used to determine codec
						during call transfer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowed-codec-name" maxOccurs="1" minOccurs="0"
				default="PCMU">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The codec for the Sdp Offer that is allowable if re-invitation
						is not supported. All INVITES are restricted
						to the specified codec if this is the case.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PCMU" />
						<xs:enumeration value="PCMA" />
						<xs:enumeration value="G729" />
						<xs:enumeration value="G723" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="stun-server-address" type="xs:string"
				maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The stun server address used to determine the
						global address of the bridge. If this is not present
						then stun01.sipphone.com is used for global address discovery.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="stun-interval" type="xs:integer" default="30" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The rediscovery period (seconds) used to determine if the NAT has
						rebooted and aquired a new global IP address. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>


			<xs:element name="log-directory" type="xs:string" maxOccurs="1" minOccurs="0" 
				default="/var/log/sipxpbx">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Log directory. Defaults to /var/log/sipxbpx. The log file name is hard coded
						to "sipxbridge.log". 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="route-inbound-calls-to-extension" type="xs:string"
				maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Where to send inbound calls. If nothing is specified, inbound calls are 
						directly routed to the specified number in the inbound request. 
						You can specify the SIPX auto attendant name  ( operator ) here.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipxrelay-host" type="xs:string"
				maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
                                              Where sipxrelay is running. If not specified, it is assumed to be colocated with sipxbridge 
					      and outbound calls will use the relay location of the via header of the outbound INVITE.
					      Note that nattraversalrules.xml specifes the xml-rpc port of sipxrelay.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sipxrelay-xml-rpc-port" type="xs:integer"  
				maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
                                              Where sipxrelay is running. If not specified, it is assumed to be colocated with sipxbridge 
					      and outbound calls will use the relay location of the via header of the outbound INVITE.
					      Note that nattraversalrules.xml specifes the xml-rpc port of sipxrelay.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="xml-rpc-port" type="xs:integer"  
				maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The port for sipxconfig to talk to this instance of sipxbridge.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItspAccountInfo">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The information that is specific to a given ITSP
				account.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>

			

			<xs:element name="registration-interval" type="xs:integer"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The registration interval.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="outbound-proxy" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The outbound proxy. If not specified,
						the proxy domain is used to look up the outbound
						proxy.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="outbound-proxy-port" type="xs:integer"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The outbound proxy port. If not specified, the default 5060 is used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="outbound-transport" type="xs:string"
				default="udp" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The outbound proxy transport.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="inbound-proxy" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The inbound proxy is where inbound signaling comes from. sipxbridge
						will Register with the inbound proxy if registration is required.
						If nothing is specified, then inbound proxy is assumed to be 
						the same as outbound proxy.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="inbound-proxy-port" type="xs:integer"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The inbound proxy port. If not specified, the same port as the
						outbound proxy is used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="outbound-proxy-transport" type="xs:string"
				default="udp" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The inbound proxy transport. If nothing specified, the same
						transport as the outbound proxy is used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="proxy-domain" type="xs:string"
				maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The domain for the SIP Register Request defaults
						to the proxy domain.  This is a required parameter.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="authentication-realm" type="xs:string"
				maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Digest authentication realm.
						This is the realm present in the authentication challenge.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="user-name" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The authentication user name attached to the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="password" type="xs:string" maxOccurs="1"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The password for the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>




			<xs:element name="use-global-addressing" type="xs:boolean"
				default="false" maxOccurs="1" minOccurs="0" >
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not to use the stun determined global
						address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>



			<xs:element name="use-rport" type="xs:boolean" maxOccurs="1" minOccurs="0"
				default="false">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not to use the Rport parameter.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			

			<xs:element name="register-on-initialization"
				type="xs:boolean" default="true" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not to REGISTER on initialization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="use-registration-for-caller-id"
				type="xs:boolean" default="true" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Whether or not to use Registration record for From Header of INVITE.
						Only meaningful if register-on-initialization is set to true.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="sip-keepalive-method"
				default="CR-LF" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						 Defines the mechanism to use for SIP keepalive.  If undefined,
       						 empty SIP packets (CR-LF) is used for SIP keepalive.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NONE" />
						<xs:enumeration value="CR-LF" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rtp-keepalive-method"
				 default="USE-EMPTY-PACKET" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						 Defines the mechanism to use for RTP keepalive.  If undefined,
						 empty UDP packets are used. 
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NONE" />
						<xs:enumeration value="USE-EMPTY-PACKET" />
						<xs:enumeration value="REPLAY-LAST-SENT-PACKET" />
						<xs:enumeration value="USE-DUMMY-RTP-PAYLOAD" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
