sipXcommserverLib/meta/credential.xsd.in

<?xml version='1.0' encoding='iso-8859-1' standalone='yes'?>
<!--
  - XML Schema for sipX registration persistent DB file
  -->
<schema
    xmlns:dmp='http://www.sipfoundry.org/sipX/schema/xml/credential-01-00'
    xmlns:sip_types='http://www.sipfoundry.org/sipX/schema/xml/sip-00-01'
    targetNamespace='http://www.sipfoundry.org/sipX/schema/xml/credential-01-00'
    xmlns='http://www.w3.org/2001/XMLSchema'
    >

  <import namespace='http://www.sipfoundry.org/sipX/schema/xml/sip-00-01'
      schemaLocation="@SIPX_DATADIR@/schema/sip_types.xsd"
      />

  <annotation>
    <documentation>
      Description of credential persistent DB file
    </documentation>
  </annotation>

  <!-- Elements -->

  <element name='items'>
    <annotation>
      <documentation>
        Contains the entire database; a collection of database rows.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='dmp:item' minOccurs='0' maxOccurs='unbounded'/>
      </sequence>
      <attribute name='type' type='string' fixed='credential'>
	<annotation>
	  <documentation>
	    Specifies that this is a credential DB file.
	  </documentation>
	</annotation>
      </attribute>
    </complexType>
  </element>

  <element name='item'>
    <annotation>
      <documentation>
        Contains the elements of one row of the credential DB table.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='dmp:realm'/>
        <element ref='dmp:uri'/>
        <element ref='dmp:userid'/>
        <element ref='dmp:passtoken'/>
        <element ref='dmp:pintoken'/>
        <element ref='dmp:authtype'/>
      </sequence>
    </complexType>
  </element>

  <element name='realm' type='sip_types:dns_name'>
    <annotation>
      <documentation>
         The realm for which this user has credentials.
	 Usually the SIP domain of the sipXecs system.
      </documentation>
    </annotation>
  </element>

  <element name='uri' type='sip_types:name_addr'>
    <annotation>
      <documentation>
        The name-addr of the user possessing the credentials.
	(Note that the column name, 'uri' is thus a misnomer, since a name-addr
	is not a URI.)
      </documentation>
    </annotation>
  </element>

  <element name='userid' type='sip_types:user'>
    <annotation>
      <documentation>
        The user name of the user possessing the credentials.
      </documentation>
    </annotation>
  </element>

  <element name='passtoken' type='string'>
    <annotation>
      <documentation>
         The user's SIP password
      </documentation>
    </annotation>
  </element>

  <element name='pintoken'>
    <annotation>
      <documentation>
	The encoded value of the user's PIN (for voicemail, etc.), or empty
	for no PIN.  See RFC 2069.
	MD5(user-name ":" realm ":" PIN)
      </documentation>
    </annotation>
    <simpleType>
      <restriction base="string">
        <pattern value='[0-9a-f]*'/>
      </restriction>
    </simpleType>
  </element>

  <element name='authtype' type='string' fixed='DIGEST'>
    <annotation>
      <documentation>
        The authentication method for this user/password.
      </documentation>
    </annotation>
  </element>

</schema>
