sipXsupervisor/meta/sipXecs-process.xsd.in

<?xml version='1.0' encoding='iso-8859-1' standalone='yes'?>
<!--
- XML Schema for sipXecs supervisor process configuration:
-    @SIPX_DATADIR@/process.d/*-process.xml
-->
<schema
    xmlns:proc='http://www.sipfoundry.org/sipX/schema/xml/sipXecs-process-01-00'
    targetNamespace='http://www.sipfoundry.org/sipX/schema/xml/sipXecs-process-01-00'
    xmlns='http://www.w3.org/2001/XMLSchema'
    >

  <annotation>
    <documentation>
      Definition of how to control a sipXecs process and for sipXecs process monitoring
    </documentation>
  </annotation>

  <!-- Elements -->
  <element name='sipXecs-process'>
    <complexType>
      <sequence>
        <element ref='proc:name'      minOccurs='1' maxOccurs='1'/>
        <element ref='proc:version'   minOccurs='1' maxOccurs='1'/>
        <element ref='proc:commands'  minOccurs='1' maxOccurs='1'/>
        <element ref='proc:status'    minOccurs='1' maxOccurs='1'/>
        <element ref='proc:resources' minOccurs='0' maxOccurs='1'/>
      </sequence>
    </complexType>
  </element>

  <element name='name' type="normalizedString">
    <annotation>
      <documentation>
        The name to be displayed for this process.
      </documentation>
    </annotation>
  </element>

  <element name='version' type="normalizedString">
    <annotation>
      <documentation>
        The version identifier for the installed version of the process.
      </documentation>
    </annotation>
  </element>

  <complexType name='Command'>
    <annotation>
      <documentation>
        Describes a command to be executed.
      </documentation>
    </annotation>
    <sequence>
      <element ref='proc:defaultdir' minOccurs='0' maxOccurs='1'/>
      <element ref='proc:user' minOccurs='0' maxOccurs='1'/>
      <element ref='proc:execute' minOccurs='1' maxOccurs='1'/>
      <element ref='proc:parameter' minOccurs='0' maxOccurs='unbounded'/>
    </sequence>
  </complexType>

  <element name="defaultdir" type="string" default='@SIPX_LOGDIR@'>
    <annotation>
      <documentation>
        Path to the working directory for the process.
        Defaults to the default SIPX_LOGDIR.
      </documentation>
    </annotation>
  </element>

  <element name="user" type="normalizedString" default='@SIPXPBXUSER@'>
    <annotation>
      <documentation>
        Username for the identity to be used when executing any command.
        Defaults to the default SIPXPBXUSER.
      </documentation>
    </annotation>
  </element>

  <element name="execute" type="normalizedString">
    <annotation>
      <documentation>
        Command to execute in the process
      </documentation>
    </annotation>
  </element>

  <element name="parameter" type="string">
    <annotation>
      <documentation>
        Parameter value to be passed to the command
      </documentation>
    </annotation>
  </element>

  <element name='commands'>
    <annotation>
      <documentation>
        Defines the commands to be executed to manipulate this process.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='proc:configtest' minOccurs='1' maxOccurs='1'/>
        <element ref='proc:start'      minOccurs='1' maxOccurs='1'/>
        <element ref='proc:stop'       minOccurs='1' maxOccurs='1'/>
        <element ref='proc:reconfigure' minOccurs='0' maxOccurs='1'/>
      </sequence>
    </complexType>
  </element>

  <element name='configtest'  type='proc:Command'>
    <annotation>
      <documentation>
        Command to be executed to test the process configuration
      </documentation>
    </annotation>
  </element>

  <element name='start'       type='proc:Command'>
    <annotation>
      <documentation>
        Command to be executed to start the process
      </documentation>
    </annotation>
  </element>

  <element name='stop'        type='proc:Command'>
    <annotation>
      <documentation>
        Command to be executed to stop the process
      </documentation>
    </annotation>
  </element>

  <element name='reconfigure' type='proc:Command'>
    <annotation>
      <documentation>
        Command to be executed to tell the process to reread its configuration
      </documentation>
    </annotation>
  </element>

  <element name='status' >
    <annotation>
      <documentation>
        Describes how the sipXsupervisor can determine the status of the process.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='proc:pid' minOccurs='0' maxOccurs='1'/>
        <element ref='proc:log' minOccurs='0' maxOccurs='unbounded'/>
      </sequence>
    </complexType>
  </element>

  <element name='pid' type='normalizedString'>
    <annotation>
      <documentation>
        Path to a text file containing the current process id of the command;
        this file should be created by the process as soon as possible after
        it starts, and deleted when it exits.
        Defaults to SIPX_RUNDIR/*name*.pid where *name* is the value of the name element.
      </documentation>
    </annotation>
  </element>

  <element name='log' type='normalizedString'>
    <annotation>
      <documentation>
        Path to the process log file.
        Defaults to SIPX_LOGDIR/*name*.log where *name* is the value of the name element.
      </documentation>
    </annotation>
  </element>

  <attributeGroup name='ResourceAttributes'>
    <attribute name='required' type='boolean' default='true'>
      <annotation>
        <documentation>
          If this is false, the resource is not required to start the process, but
          may be accessed by the configuration system.
        </documentation>
      </annotation>
    </attribute>

    <attribute name='configAccess' type='proc:ConfigAccess' default='read-write'>
      <annotation>
        <documentation>
          Declares the kind of access granted to the configuration system to this resource.
          The access granted is the most permissive allowed by any process definition.
        </documentation>
      </annotation>
    </attribute>
  </attributeGroup>

  <complexType name='SimpleResource' mixed='false'>
    <annotation>
      <documentation>
        Describes a single named object that must exist for this process to execute.
      </documentation>
    </annotation>
    <simpleContent>
      <extension base='string'>
        <attributeGroup ref='proc:ResourceAttributes'/>
      </extension>
    </simpleContent>
  </complexType>

  <element name="server" type="string" default='localhost'>
    <annotation>
      <documentation>
        Server where the database resides.
        Defaults to the local server (localhost).
      </documentation>
    </annotation>
  </element>

  <element name="dbname" type="string" default='SIPXCDR'>
    <annotation>
      <documentation>
        Name of the database to be used.
        Defaults to the CDR database SIPXCDR.
      </documentation>
    </annotation>
  </element>

  <element name="username" type="string" default='postgres'>
    <annotation>
      <documentation>
        Username to connect to the database.
        Defaults to the user 'postgres'.
      </documentation>
    </annotation>
  </element>

  <element name="dbdriver" type="string" default='{PostgreSQL}'>
    <annotation>
      <documentation>
        Database driver used for the database type.
        Defaults to the {PostgreSQL} driver.
      </documentation>
    </annotation>
  </element>

  <element name="userpassword" type="string" default=''>
    <annotation>
      <documentation>
        User password to connect to the database.
        Defaults to no password.
      </documentation>
    </annotation>
  </element>

  <complexType name='DBResource'>
    <annotation>
      <documentation>
        Describes a single database object that must exist for this process to execute.
      </documentation>
    </annotation>
    <sequence>
      <element ref='proc:server' minOccurs='0' maxOccurs='1'/>
      <element ref='proc:dbname' minOccurs='1' maxOccurs='1'/>
      <element ref='proc:username' minOccurs='0' maxOccurs='1'/>
      <element ref='proc:dbdriver' minOccurs='0' maxOccurs='1'/>
      <element ref='proc:userpassword' minOccurs='0' maxOccurs='1'/>
    </sequence>
    <attributeGroup ref='proc:ResourceAttributes'/>
  </complexType>

  <simpleType name='ConfigAccess'>
    <annotation>
      <documentation>
        Declares the kind of access granted to the configuration system to this resource.
      </documentation>
    </annotation>
    <restriction base='string'>
      <enumeration value='no-access'/>
      <enumeration value='read-only'/>
      <enumeration value='write-only'/>
      <enumeration value='read-write'/>
    </restriction>
  </simpleType>

  <element name='resources'>
    <annotation>
      <documentation>
        Describes resources used by this process
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <choice minOccurs='0' maxOccurs='unbounded'>
          <element ref='proc:file'/>
          <element ref='proc:osconfig'/>
          <element ref='proc:imdb'/>
          <element ref='proc:process'/>
          <element ref='proc:sqldb'/>
          <element ref='proc:directory'/>
        </choice>
      </sequence>
    </complexType>
  </element>

  <element name='file' type='proc:SimpleResource'>
    <annotation>
      <documentation>
        Content is the full path to a file.
      </documentation>
    </annotation>
  </element>

  <element name='process' type='proc:SimpleResource'>
    <annotation>
      <documentation>
        Content is the name of a sipXecs-process that must be running.
      </documentation>
    </annotation>
  </element>

  <element name='osconfig' type='proc:SimpleResource'>
    <annotation>
      <documentation>
        Content is the full path to an OsConfigDB file.
      </documentation>
    </annotation>
  </element>

  <element name='imdb' type='proc:SimpleResource'>
    <annotation>
      <documentation>
        Content is the name of a SipDB table.
      </documentation>
    </annotation>
  </element>

  <element name='sqldb' type='proc:DBResource'>
    <annotation>
      <documentation>
        SQL database and connection information.
      </documentation>
    </annotation>
  </element>

  <element name='directory'>
    <complexType>
      <annotation>
        <documentation>
          Describes a directory used by a process.  
          The single required path element provides the path to the
          directory.
          Each filePattern element provides the pattern for a file name that
          may exist in the directory.
          If the 'required' attribute is 'true' on a directory element,
          then the path must exist for the service to be started; if 'false',
          then the path need not exist to start the process.
          If 'required' is false, and 'configAccess' is 'read-write', then
          the supervisor may create the directory when a file is written to
          it. 
          The 'configAccess' from the directory element is inherited by any 
          filePattern element that does not have an eplicit configAccess.

          The definition of a resource for a specific file using 'file',
          'osconfig', or 'log' takes precedence over one defined using 
          'directory' that matches the specific name.
        </documentation>
      </annotation>
      <sequence>
        <element ref='proc:path' minOccurs='1' maxOccurs='1'/>
        <element ref='proc:filePattern' minOccurs='1' maxOccurs='unbounded'/>
      </sequence>
      <attributeGroup ref='proc:ResourceAttributes'/>
    </complexType>
  </element>
  
  <element name='path' type='normalizedString'>
    <annotation>
      <documentation>
        Content is the full path to a directory (it should not end with a '/').
      </documentation>
    </annotation>
  </element>

  <element name='filePattern'>
    <complexType mixed='false'>
      <annotation>
        <documentation>
          Content is a pattern expression that matches potential file names.
          The content may consist of any legal file name character ('/' is
          forbidden).  
          The character '*' represents any sequence of file name
          characters that does not begin with '.' and does not contain '/'.
          The filePattern may have a 'configAccess' attribute, which 
          overrides any configAccess set on the directory.
        </documentation>
      </annotation>
      <simpleContent>
        <extension base='normalizedString'>
          <attribute name='configAccess' type='proc:ConfigAccess' default='read-write'>
            <annotation>
              <documentation>
                Declares the kind of access granted to the configuration system to this resource.
                The access granted is the most permissive allowed by any process definition.
              </documentation>
            </annotation>
          </attribute>
        </extension>
      </simpleContent>
    </complexType>
  </element>

</schema>
