sipXsupervisor/meta/watchdogprocess.xsd.in

<?xml version='1.0' encoding='iso-8859-1' standalone='yes'?>
<!--
- XML Schema for sipX watchdog process configuration: @SIPX_CONFDIR@/process.d/*.process.xml
-
- Note that the constraints in this file are based on how the file is being used
- now, and may not represent the full flexibility of the present process management
- implementation.  
-->
<schema
    xmlns:h='http://www.sipfoundry.org/sipX/schema/xml/watchdogprocess-00-01'
    targetNamespace='http://www.sipfoundry.org/sipX/schema/xml/watchdogprocess-00-01'
    xmlns='http://www.w3.org/2001/XMLSchema'
    >

  <annotation>
    <documentation>
      Definition of how to start/stop/restart a sipX process and for the sipX process monitoring
    </documentation>
  </annotation>

  <!-- Elements -->
  <element name='watchdog-process'>
    <complexType>
      <sequence>
        <element ref='h:process_definitions'/>
        <element ref='h:watchdog'/>
      </sequence>
      <attribute name="enable" type="boolean">
        <annotation>
          <documentation>
            Ignore this document if not enabled.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='process_definitions'>
    <complexType>
      <sequence>
        <element ref='h:group' minOccurs='1' maxOccurs='unbounded' />
      </sequence>
    </complexType>
  </element>

  <element name='dependentdelay'>
    <annotation>
      <documentation>
        Controls how long to pause before starting processes with dependency on this process
      </documentation>
    </annotation>
    <complexType>
      <attribute name="wait" type="integer"/>
    </complexType>
  </element>

  <element name='dependency' type="string">
    <annotation>
      <documentation>
        Defines dependency of this process on another process
      </documentation>
    </annotation>
  </element>

  <element name='group'>
    <annotation>
      <documentation>
        A named set of processes
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='h:process' minOccurs='1' maxOccurs='unbounded' />
      </sequence>
      <attribute name="name" type="string">
        <annotation>
          <documentation>
            The group name (not sure what if anything uses the name).
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='process'>
    <annotation>
      <documentation>
        Defines a single process to be controlled
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='h:dependentdelay' minOccurs='0' maxOccurs='1' />
        <element ref='h:stdout'         minOccurs='1' maxOccurs='1' />
        <element ref='h:stderr'         minOccurs='1' maxOccurs='1' />
        <element ref='h:stdin'          minOccurs='1' maxOccurs='1' />
        <element ref='h:start'          minOccurs='1' maxOccurs='1' />
        <element ref='h:stop'           minOccurs='1' maxOccurs='1' />
        <element ref='h:restart'        minOccurs='1' maxOccurs='1' />
        <element ref='h:dependency'     minOccurs='0' maxOccurs='unbounded' />
      </sequence>
      <attribute name="name" type="string">
        <annotation>
          <documentation>
            The process name
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <complexType name='stdFile'>
    <annotation>
      <documentation>
         Configures a path (or an empty value) for a standard file descriptor
      </documentation>
    </annotation>
    <attribute name="file" type="string"/>
  </complexType>

  <element name='stdout' type='h:stdFile' />
  <element name='stdin'  type='h:stdFile' />
  <element name='stderr' type='h:stdFile' />

  <element name='start'>
    <annotation>
      <documentation>
        Defines whether or not and how to start a process.
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='h:execute' minOccurs='1' maxOccurs='1' />
      </sequence>
      <attribute name="control" type="boolean">
        <annotation>
          <documentation>
            Whether or not to start the process
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='execute'>
    <annotation>
      <documentation>
        Defines how to start a process.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="command" type="string">
        <annotation>
          <documentation>
            Command to execute in the process
          </documentation>
        </annotation>
      </attribute>
      <attribute name="parameters" type="string">
        <annotation>
          <documentation>
            Parameters to be passed to the command
          </documentation>
        </annotation>
      </attribute>
      <attribute name="defaultdir" type="string">
        <annotation>
          <documentation>
            Path to the working directory for the process
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='stop'>
    <annotation>
      <documentation>
        Defines whether or not to stop a process.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="control" type="boolean">
        <annotation>
          <documentation>
            Whether or not to stop the process
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='restart'>
    <annotation>
      <documentation>
        Defines whether or not to restart a process.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="control" type="boolean">
        <annotation>
          <documentation>
            Whether or not to restart the process
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <element name='watchdog'>
    <complexType>
      <sequence>
        <element ref='h:monitor' minOccurs='1' maxOccurs='1' />
      </sequence>
    </complexType>
  </element>

  <element name='monitor'>
    <annotation>
      <documentation>
        The list of processes to monitor
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='h:monitor-process' minOccurs='1' maxOccurs='unbounded' />
      </sequence>
    </complexType>
  </element>

  <simpleType name="EnableOrDisable">
    <restriction base="string">
      <enumeration value="enable" />
      <enumeration value="disable" />
    </restriction>
  </simpleType>

  <element name='monitor-process'>
    <annotation>
      <documentation>
        Defines a single process to be monitored
      </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element ref='h:failure_contact' minOccurs='0' maxOccurs='1' />
      </sequence>
      <attribute name="name" type="string">
        <annotation>
          <documentation>
            The process name
          </documentation>
        </annotation>
      </attribute>
      <attribute name="restart" type="h:EnableOrDisable">
        <annotation>
          <documentation>
            Whether or not to attempt to restart this process if it fails;
            note that this does not control whether or not the process is
            started initially.  See attribute "start" for that.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="max_restarts" type="decimal">
        <annotation>
          <documentation>
            The maximum number of times to attempt to restart this process.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="report" type="h:EnableOrDisable">
        <annotation>
          <documentation>
            Whether or not to report failures of this process.
          </documentation>
        </annotation>
      </attribute>
      <attribute name="max_reports" type="decimal">
        <annotation>
          <documentation>
            The maximum number of times to send a failure report.
          </documentation>
        </annotation>
      </attribute>
    </complexType>
  </element>

  <simpleType name="ContactMethod">
    <restriction base="string">
      <enumeration value="email" />
    </restriction>
  </simpleType>

  <element name='failure_contact'>
    <annotation>
      <documentation>
        How to report a failure for a process
      </documentation>
    </annotation>
    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute name="method" type="h:ContactMethod" />
        </extension>
      </simpleContent>
    </complexType>
  </element>

</schema>
