sipXpbx/meta/processdefinitions.xsd.in

<?xml version='1.0' encoding='iso-8859-1' standalone='yes'?>
<!--
- XML Schema for sipX process configuration: @SIPX_CONFDIR@/ProcessDefinitions.xml
-
- Note that the constraints in this file are based on how the file is being used
- now, and may not represent the full flexibility of the present process management
- implementation.  
-->
<schema
    xmlns:h='http://www.sipfoundry.org/sipX/schema/xml/processdefinitions-00-00'
    targetNamespace='http://www.sipfoundry.org/sipX/schema/xml/processdefinitions-00-00'
    xmlns='http://www.w3.org/2001/XMLSchema'
    >

  <annotation>
    <documentation>
      Definition of process to start for the sipX process monitor
    </documentation>
  </annotation>

  <!-- Elements -->

  <element name='process_definitions'>
    <complexType>
      <sequence>
        <element ref='h:dependentdelay' minOccurs='1' maxOccurs='1' />
        <element ref='h:workdir' minOccurs='1' maxOccurs='1' />
        <element ref='h:logfile' minOccurs='1' maxOccurs='1' />
      </sequence>
    </complexType>
  </element>

  <element name='dependentdelay'>
    <annotation>
      <documentation>
        Controls how long to pause before starting a process
      </documentation>
    </annotation>
    <complexType>
      <attribute name="wait" type="integer"/>
    </complexType>
  </element>

  <element name='workdir'>
    <annotation>
      <documentation>
        Configures the directory where process monitor state files are stored.
      </documentation>
    </annotation>
    <complexType>
      <attribute name="location" type="string"/>
    </complexType>
  </element>

  <simpleType name="LogLevel">
    <restriction base="string">
      <enumeration value="debug" />
      <enumeration value="info" />
      <enumeration value="notice" />
      <enumeration value="warning" />
      <enumeration value="error" />
      <!-- there are other levels, but level < error is not allowed -->
    </restriction>
  </simpleType>

  <element name='logfile'>
    <annotation>
      <documentation>
        The full path to the log file
      </documentation>
    </annotation>
    <complexType>
      <simpleContent>
        <extension base="string">
          <attribute name="level" type="h:LogLevel" />
        </extension>
      </simpleContent>
    </complexType>
  </element>

</schema>
